.container {
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden !important;
  z-index: 10000;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #cdcdcd;
  margin: 0px;
  padding: 0 0 20px 0;
  /* text-shadow: -3px 0 0 rgba(255, 0, 0, 0.7), 3px 0 0 rgba(0, 255, 255, 0.7); */
  pointer-events: none;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #cdcdcd;
  line-height: 50px;
  padding: 0px;
  margin: 0px;
  /* text-shadow: -3px 0 0 rgba(255, 0, 0, 0.7), 3px 0 0 rgba(0, 255, 255, 0.7); */
  pointer-events: none;
}

h2 a {
  color: #cdcdcd;
  text-decoration: none;
  border-bottom: 5px solid #cdcdcd;
  margin: 0;
  padding: 0;
  pointer-events:initial;
}

h2 a span {
  letter-spacing: 0px !important;
  padding-right: 2px;
}

h2 a:hover {
  color: #aaa;
  border-bottom: 5px solid #aaa;
}

#scene ul {
  width: 100% !important;
  height: 100% !important;
  height: 100vh !important;
  overflow: hidden;
  position: relative;
}

.text {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  z-index: 3;
  display: block;
}

.center-card{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 375px;
  width: 30%;
}

/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
